# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "cdd4674758844e1285f928aba80fb37a"
name = "chatgpt-product-content"
application_url = "https://ai-product-content-production.up.railway.app"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2025-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  compliance_topics = [ "customers/data_request", "customers/redact", "shop/redact" ]
  uri = "https://ai-product-content-production.up.railway.app/webhooks/gdpr"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,write_products,read_product_listings,write_product_listings,read_orders,read_customers"

[auth]
redirect_urls = [ "https://ai-product-content-production.up.railway.app/api/auth" ]
